
Module variables ("vars"):
--------------------------------
{{ vars | to_nice_json }}

Environment variables ("environment"):
--------------------------------
{{ environment | to_nice_json }}

Group names variables ("group_names"):
--------------------------------
{{ group_names | to_nice_json }}

Groups variables ("groups"):
--------------------------------
{{ groups | to_nice_json }}
